.header{
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: rgba(51, 51, 51, 0.4);
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border-bottom: solid 1px #ffffff;
}

.menu__logo {
  font-size: 32px;
  font-weight: 400;
  z-index: 4;
}

.menu__toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.menu__items {
  display: flex;
  align-items: center;
  /* transform: translateY(-100%);
  transition: transform 0.5s ease-in-out; */
  z-index: 3;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  font-family: "Abel", sans-serif;
  /* font-family: "Source Code Pro", monospace; */
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
}

.menu__item a {
  text-decoration: none;
  color: white;
}

.menu__socials {
  display: flex;
  align-items: center;
  margin-left: 40px;
}


@media (max-width: 1280px) {
  .menu {
    padding: 20px 30px;
  }
  .menu__list {
    gap: 20px;
  }
  .menu__socials {
    margin-left: 20px;
  }
}


@media (max-width: 1024px) {

  .menu__toggle {
    display: block;
    z-index: 4;
  }

  .menu__items {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.8s ease-in-out;
    z-index: 3;
  }
  .menu__list{
    flex-direction: column;
    text-align: center;
  }
  .menu__items--open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.95);
    display: flex;
    transform: translateY(0);
    transition: transform 0.8s ease-in-out;
    z-index: 3;
  }
  .menu__item {
    font-size: 40px;
  }
  .menu__socials {
    margin-top: 40px;
    margin-left: 0;
  }
  .menu__socials img{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 640px) {
  .menu__item {
    font-size: 30px;
  }
}
